[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
crispy-bootstrap5 = "*"
django-filter = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-allauth = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
gunicorn = "*"
python-slugify = "*"
django-multiselectfield = "*"
django-crispy-forms = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
