<!-- templates/about.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>About Us</h2>
    <p>Welcome to New Sole, your premier destination for exclusive and limited edition sneakers. We are passionate about
        footwear and dedicated to bringing you the latest trends and styles in the sneaker world.</p>
    <p>At New Sole, we believe that every step you take should be in style. Our curated collection features unique
        designs and high-quality materials, ensuring that you not only look good but also feel comfortable with every
        step.</p>
    <p>Whether you're a sneakerhead or just looking for a stylish pair of shoes, we have something for everyone. Our
        team is committed to providing exceptional customer service and ensuring that your shopping experience is
        seamless and enjoyable.</p>

</div>
{% endblock %}