<!-- templates/about.html -->
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    {% include 'breadcrumbs.html' %}

    <h2>Your Cart</h2>

    {% if shoes %}
    <table>
        <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Item Total Price</th>
            <th>Action</th>
        </tr>
        {% for shoe in shoes %}
        <tr>
            <td><img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" class="card-img-top"
                    style="height:40px; width:auto"></td>
            <td>{{ shoe.name }}</td>
            <td>${{ shoe.price }}</td>
            <td>{{ shoe.cart_quantity }}</td>
            <td>{{ shoe.line_total }}</td>
            <td>
                <a href="{% url 'shoe_detail' shoe.slug %}">View Details</a>
                <a href="{% url 'move_cart_to_wishlist' shoe.id %}">Move to Wishlist</a>
                <a href="{% url 'add_cart' shoe.id %}">+</a>
                <a href="{% url 'remove_from_cart' shoe.id %}">-</a>
                <a href="{% url 'remove_all_from_cart' shoe.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p><strong>Grand Total: ${{ cart_total|floatformat:2 }}</strong></p>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}

</div>


{% endblock %}