<!-- templates/about.html -->
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    {% include 'breadcrumbs.html' %}

    <h2>Cart</h2>
    <ul>


        {% if not shoes %}
        <h3 class="text-center">Your Cart is Empty</h3>
        <p class="text-center">Add items to your cart to proceed with the checkout.</p>
        <p class="text-center">Browse our <a href="{% url 'shoe_list' %}">shoe collection</a> to find your perfect pair.

        </p> {% endif %}

        {% if shoes %}
        <h3 class="text-center">Items in Your Cart</h3>
        <p class="text-center">Review your selected items below:</p>
        {% for shoe in shoes %}
        <li>
            <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" class="img-thumbnail shoe-image">
            {{ shoe.name }} - ${{ shoe.price }}
            <a href="{% url 'remove_from_cart' shoe.id %}">Remove</a>

            <a href="{% url 'checkout' %}">Checkout</a>

        </li>

        {% endfor %}

        {% endif %}
        <p><strong>Total: ${{ total_price }}</strong></p>


    </ul>

</div>


{% endblock %}