<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">New Sole</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shoe_list' %}">Shoes</a>
                    </li>
                    {% if cart_total_qty == 0 %}
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">Cart
                            <span class="badge bg-secondary"></span>
                        </a>
                        {% endif %}
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_cart' %}">Cart
                            <span class="badge bg-secondary">{{ cart_total_qty }}</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_form' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_wishlist' %}">Wishlist
                            <span class="badge bg-secondary">{{ wishlist_items|length }}</span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <span class="my-1">{{request.user}}</span>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" a href="{% url 'signup' %}">Sign Up </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin' %}">Admin</a>
                    </li>
                </ul>

                <form class="d-flex" role="search" method="GET" action="{% url 'shoe_search' %}">
                    {{ searchform.as_p }}
                    <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search"
                        value="{{ query|default:'' }}" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2NLZJ3F2P4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2NLZJ3F2P4');
</script>
</header>