<!-- wishlist.html -->
<!-- templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    {% include 'breadcrumbs.html' %}
    <h1>Wishlist</h1>

    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! Here are your saved items:</p>
    {% else %}
    <p>Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a> to view your wishlist.</p>
    {% endif %}
    <h2>My Wishlist</h2>
    {% for item in wishlist_items %}
    <div>
        <h3>{{ item.shoe.name }}</h3>
        <p>${{ item.shoe.price }}</p>
    </div>
    <div>
        <a href="{% url 'move_wishlist_to_cart' item.shoe.id %}">Move to Cart</a>
        <a href="{% url 'shoe_detail' item.shoe.slug %}">View Details</a>
        <a href="{% url 'remove_from_wishlist' item.shoe.id %}">Remove</a>

    </div>
    {% empty %}
    <p>Your wishlist is empty.</p>
    {% endfor %}
</div>

{% endblock %}