.hero {
  background-color: aquamarine;
  /* height: 50vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  color: #333;
}
.hero p {
  font-size: 1.5rem;
  color: #666;
}
