.hero {
  background-color: aquamarine;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted-partners,
.product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: auto;
}
.partner-logos {
  height: auto;
  width: 100%;
  max-width: 200px;
  margin: 10px;
}

.btn {
  background-color: #1b1b1c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #fbf9f9;
}

.btn-small {
  color: #1b1b1c;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.btn-small:hover {
  color: #1b1b1c;
  text-decoration: underline;
}

.shoe-image {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
  color: #1b1b1c;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slider img {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #005fa3;
}
